.card {
  transition: 650ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.cardEl:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;

  /* This line goes with transform: rotateY(180deg)*/
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}
